<paper-header-panel mode="standard" class="drawer blue" drawer>
  <div class="paper-header" mode="standard" >Menu</div>
  <div class="content fit layout vertical">
    <div class="menu-section">
      <h4><iron-icon icon="settings"></iron-icon> Settings</h4>
      <div class="menu-section-content">
        <paper-input label="API Key"></paper-input>
        <paper-input label="Client id"></paper-input>
        <paper-input label="Crypto key"></paper-input>
      </div>
    </div>
  </div>

</paper-header-panel>
